* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
}

input {
  outline: none;
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration:none;
  color: #fff;
}